<%- include('header', { title: 'Chennai Super Kings' }) %>+

<main style="padding: 20px; font-family: Arial, sans-serif; color: #555;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 style="color: #FFD700;">Chennai Super Kings</h1>
                <img src="/images/Chennai-Super-Kings-logo.png" class="img-fluid rounded-circle" alt="csk logo" style="width: 200px; height: 200px; object-fit: cover; margin-bottom: 20px;">
                <p>This page is dedicated to the Chennai Super Kings, a franchise cricket team based in Chennai, Tamil Nadu, that plays in the Indian Premier League (IPL).</p>
                <p style="color: #16202b;">Founded in 2008, the Chennai Super Kings have become one of the most successful teams in IPL history, winning the championship multiple times.</p>
               
            </div>
            <!-- <div class="col-md-6">
                <img src="/path/to/chennai-super-kings-logo.png" alt="Chennai Super Kings Logo" style="max-width: 100%; height: auto;">
            </div> -->
        </div>
    </div>
</main>

<footer style="background-color: #101820FF; color: #F2AA4CFF; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
    <p>&copy; IPL Teams 2024</p>
</footer>
</body>
</html>