<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <%- include('header', { title: 'IPL Teams - Home' }) %>
    <p>Welcome to <%= title %></p>

    <img src="/images/IPL-Logo-PNG.png"  width="700px" height="500px">
  

  <p>This is the homepage of the IPL Teams website. Here, you can find information about various IPL teams, their history, achievements, and more. Click on the navigation links to learn about your favorite team.</p>
</main>

<footer style="background-color: #333; color: white; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
    <p>&copy; IPL Teams 2024</p>

  </center>

  </body>
</html>
