<%- include('header', { title: 'Mumbai Indians' }) %>

 
<main style="padding: 20px; font-family: Arial, sans-serif; color: #555;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 style="color: #2933e9;">Mumbai Indians</h1>
                <div style="width: 180px; height: 300px; overflow: hidden;">
                    <img src="/images/Mumbai Indians.png" class="img-fluid" alt="rcb logo" style="width: 100%; height: auto;">
                </div>

                <p style="color: #050505;">This page is dedicated to the Mumbai Indians, a franchise cricket team based in Mumbai, Maharashtra, that plays in the Indian Premier League (IPL).</p>
                
            </div>
        </div>
    </div>
</main>

<footer style="background-color: #101820FF; color: #F2AA4CFF; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
    <p>&copy; IPL Teams 2024</p>
</footer>
</body>
</html>